.header {
  border-bottom: 1px solid #ccc;
  height: 49px;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
}

.header > h2 {
  font-size: 21px;
  font-weight: 800;
}

.section {
  padding-top: 49px;
}

.nav {
  border-top: 1px solid #ccc;
  position: sticky;
  bottom: 0;
  height: 49px;
  width: 100%;
}
