.link {
  color: peru;
}

.header {
  display: grid;
  place-items: center;
  place-content: center;
  padding: 10px;
  height: 100%;
}

.img {
  width: 120px;
}

.header h1 {
  font-weight: 800;
  color: #0099ff;
  margin-bottom: 0;
}

.header h2 {
  font-size: 18px;
  color: #1c5480;
  margin: 5px;
}

.buttonLogin {
  display: flex;
  align-items: center;
  background: #151515;
  color: #fff;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  transition: opacity 0.3s ease;
}

.buttonLogin > :global(svg) {
  margin-right: 10px;
}

.buttonLogin:hover {
  opacity: 0.7;
}
